html {
    height: 100%;
}
body {
    min-height: 100%;
    background-image: url("/img/jason-leung-poI7DelFiVA-unsplash.jpg");
    background-size: 100%;
    font-family: 'Montserrat', sans-serif; 
}

#body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#login {
    width: 300px;
    height: 450px;
    background: #fff;
    opacity: 95%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input{
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    align-items: start;
}

#botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    padding: 0.5em 1.0em 0.5em 1.5em;
    justify-content:space-between;
    margin: 3px;
}